.card {
    width: 100%;
    // margin-top: -2rem;
    border-radius: 9px;
    background-color: #FAEEE7;
}

.card-body {
    text-align: left;
}

.profile {
    text-align: center;

    &__img{
        border-radius: 50%;
        height: 25%;
        width: 25%;
    }
}

.card-title {
 font-size: large;
 font-weight: 800;
}

input {
 margin-top: 0;
 padding-top: 0;
}

a {
    padding: 0;
    margin: 0;
}


@media (max-width: 992px){

    .card-body {
        margin: 0 1rem;
        
    }
}

@media (max-width: 575px){
    .card-body {
        margin: 0 1.5rem;
        
    }
}