
<div class="card_signin d-flex  flex-column bd-highlight mb-3">
    
<div class="card-body" [hidden]="loginuserform.userSignin">
    <div class="card-title">Sign In</div>
    <form [formGroup]="loginform" (ngSubmit)="logIn()">
        <div class="mb-3">
          <label for="Email1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" formControlName="email" > 
          <div>{{msg}}</div>
          
          
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id="emailHelp" class="form-text">new User?<a class=" active" aria-current="page" routerLink="/SignUp">Sign Up</a></div>
    
</div>

<div class="card-body profile" [hidden]="!loginuserform.userSignin">


  <div  *ngIf="loginuserform.downloadURL | async; let url">
    <img class="profile__img" [src]="url" alt="Image from AngularFireStorage" (error)="onError()"> 
    <!-- <img class="profile__img" src="{{ url ? url:defaultimg}}"/> -->
    <!-- <img class="profile__img" src=" assets/blank-profile-picture.png"/> its workin-->
    

</div>
  
  <div *ngIf="( user$ | async) as user">
    <!-- <h2>{{user.fullname}}</h2>
    <h3>{{user.major}}</h3>  -->
  </div>



  <div *ngIf="loginuserform.userdata as user1">
    <!-- <img class="profile__img" [src]="user1.profile_img" alt="Image from AngularFireStorage"> -->
    <h2>{{user1.fullname}}</h2>
    <h3>{{user1.major}}</h3> 


  </div>

 




 
 








  


</div>

<div class="log_out" [hidden]="!loginuserform.userSignin">
<button type="button" class="btn btn-outline-danger btn-sm" (click)="LogOut()" >LOG OUT</button>
</div>
</div>
