<div class="card">
    <div class="card-body">
        
      <h5 class="card-title">New task</h5>
      <h6 class="card-subtitle mb-2 text-muted">subtitle</h6>
      <form [formGroup]="newtaskform" (ngSubmit)="post()">
      <div class="card__input">
          <input name="title"  class="form-control" type="text" placeholder="title" aria-label="default input example" formControlName="title" required >
             <div class="text-danger" *ngIf="newtaskform.hasError( 'required' , 'title' ) && newtaskform.controls['title'].dirty">filed required</div>
          <textarea  name="task"  class="form-control" type="textarea" placeholder="task" aria-label="default input example" formControlName="task"></textarea>
          <div class="text-danger" *ngIf="newtaskform.hasError( 'required' , 'task' ) && newtaskform.controls['task'].dirty">filed required</div>
          <div class="btn-group">
            <button  type="submit" class="btn btn-primary" [disabled]="!newtaskform.valid" [hidden]="update">Post</button>
            <button  type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
            
            <button  type="button" class="btn btn-primary" [hidden]="!update" (click)="updat()">updata</button>
           
          </div>
      </div>
    </form>
    </div>
</div>









