<div class="card">
    <div class="card-body">
        
      <h5 class="card-title">Sign Up</h5>
      <h6 class="card-subtitle mb-2 text-muted">subtitle</h6>
      <form  [formGroup]="newUserform" (ngSubmit)="post()">
        <div class="form-group">
            <label for="inputfullname">Full name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="name" formControlName="fullname">
          </div>
        <div class="row">

            <div class="form-group col-md-6">
              <label for="signupEmail">Email</label>
              <input type="Email" class="form-control" id="signupEmail" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group col-md-6">
                <label for="signupPassword">Password</label>
                <input type="password" class="form-control" id="signuppassword" placeholder="password" formControlName="password">
              </div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>choose your major</mat-label>
            <mat-select>
              <mat-option *ngFor="let major of majors" [value]="major.value">
                {{major.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>





        <div class="mb-3">
            <label for="formFile" class="form-label">Profile Picture</label>
            <input class="form-control" type="file" id="formFile" (change)="Upload($event)" accept="*.png.jpg">
          </div>
          <button type="submit" class="btn btn-primary">Sign IN</button>
      </form>
     
    </div>
</div>
